$border: 1px solid var(--colour-border);

table.inbox-message {
    border: $border;

    tbody {
        th {
            background-color: var(--colour-caption-background);
            text-align: right;
            vertical-align: top;
            border: $border;
        }

        td br {
            // https://stackoverflow.com/a/31633969
            display: block;
            margin-top: 1rem;
            content: '';
        }
    }
}