@use '../../common/colours';

.main.login-page.display-flex,
.main.security-questions-page.display-flex {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;

    .utech-emblem-and-website-name {
        flex: 1 1 500px;
        max-width: 600px;
    }

    .form {
        flex-basis: 600px;

        &.form-login>div,
        &.form-security-questions>div {
            margin: 1rem 0;

            h1 {
                text-align: center;
            }

            input {
                width: 100%;
            }

            .form-button {
                margin-top: 1.25rem;
                padding: 0.5rem;
                color: var(--colour-button-primary-text);
                background-color: var(--colour-button-primary-background);
                border-color: var(--colour-button-primary-border);

                &:hover {
                    border-color: var(--colour-button-primary-border-hover);
                }

                &:active {
                    background-color: inherit;
                    color: var(--colour-text-primary);
                }
            }

            .colour-text-danger {
                color: colours.$utech-red;
            }

            .fake-hyperlink {
                display: block;
                margin-left: auto;
                color: var(--colour-hyperlink-text);
                width: fit-content;
            }
        }
    }
}