.login-form {
    margin: auto;
    padding: 1em;
    max-width: 600px;
    border: 1px solid var(--border-colour);
    box-sizing: border-box;

    @media only screen and (max-width:630px) {
        width: calc(100vw - 2em);
    }

    >div {
        margin: 1em;

        &:nth-of-type(1) {
            text-align: center;

            img {
                height: 60px;
                display: block;
                margin: auto;
            }
        }

        &:nth-last-of-type(1)>span {
            display: block;
            margin-left: auto;
            width: fit-content;
            color: var(--site-colour-text-hyperlink);

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &.red {
            color: var(--login-notice-colour-text);
        }

        .login-submit-btn {
            padding: 1em;
            width: 100%;
            background-color: navy;
            color: white;
            font-size: 1rem;
            font-weight: bold;
            border: none;

            &:hover {
                background-color: lighten($color: navy, $amount: 10);
                cursor: pointer;
            }

            &:active {
                background-color: darken($color: navy, $amount: 10);
            }

            &:focus {
                color: white;
            }
        }

        input {
            width: 100%;
            padding: 0.5rem;
            box-sizing: border-box;
        }
    }
}