.TopNavbarComponent {
    border-bottom: 1px solid black;
    background-color: #22cdba;
    font-weight: bolder;
}

.TopNavbarComponent>nav>a {
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.TopNavbarComponent>nav>a:hover,
.TopNavbarComponent>nav>a.active {
    text-decoration: underline #447be2 3px;
}