@use "../../common/colours";

.TopNavbarComponent {
    grid-column: span 2;
    background-color: colours.$green;
    font-weight: bold;

    >nav>a {
        display: inline-block;
        padding: 1em;
        color: black;
        text-decoration: none;

        &:hover,
        &.active {
            text-decoration: 3px underline colours.$blue;
        }
    }
}