.selectable-modules-table {
    border: 1px solid var(--colour-border);

    thead th {
        background-color: var(--colour-caption-background);
        border: 1px solid var(--colour-border);
    }
}