.menu {
    position: relative;

    .menu-button {
        padding: 0;
        background-color: inherit;
        border: none;
    }

    .menu-flyout {
        background-color: var(--colour-background-primary);
        border: 1px solid var(--colour-border);
        position: absolute;
        z-index: 2;
    }
}