@use "../../common/colours";

#StudentsReports {
    overflow-x: auto;

    caption {
        background-color: colours.$orange;
        border-color: colours.$orange;
    }

    tr {
        background-color: var(--site-colour-base);

        td {
            border: none;

            &.flex-container {
                display: flex;
                flex-wrap: wrap;
                gap: 1em;
                justify-content: space-between;
            }

            select {
                padding: 0.5rem;
            }

            button {
                padding: 0.5em;
                align-self: right;
                background-color: colours.$orange;
                color: var(--site-colour-base);
                font-weight: bold;
                text-transform: uppercase;
                border: none;

                &:hover {
                    background-color: lighten($color: colours.$orange, $amount: 10);
                    cursor: pointer;
                }

                &:active {
                    background-color: darken($color: colours.$orange, $amount: 10);
                }
            }
        }
    }
}