$button-border: 5px solid transparent;

.tabs {
    &[data-header-position='left'],
    &[data-header-position='right'] {
        display: flex;
        gap: 1rem;

        .tabs-header {
            flex: 0 0 200px;
            height: fit-content;
            position: sticky;
            top: 1rem;

            button {
                display: block;
                width: 100%;
                text-align: left;
                border-left: $button-border;
            }
        }
    }

    &[data-header-position='right'] {
        flex-direction: row-reverse;
    }

    &[data-header-position='top'],
    &[data-header-position='bottom'] {
        .tabs-header {
            white-space: nowrap;
            overflow-x: auto;

            button {
                border-bottom: $button-border;
            }
        }

        .tabs-body.overflow-x-auto {
            overflow-x: unset;
        }
    }

    &[data-header-position='bottom'] {
        transform: rotateX(180deg);

        .tabs-header,
        .tabs-body {
            transform: rotateX(180deg);
        }
    }

    .tabs-header {
        button {
            padding: 1rem;
            background-color: inherit;
            color: inherit;
            border: none;

            &:hover {
                background-color: var(--colour-background-secondary);
                color: var(--colour-text-primary);
                cursor: pointer;
            }

            &[data-selected='true'] {
                color: var(--colour-text-primary);
                border-color: var(--colour-border);
            }
        }
    }
}