.expander {
    overflow: hidden;

    @media (prefers-reduced-motion: no-preference) {
        transition-duration: 0.5s;
        transition-property: height;
    }

    &.transition-none {
        transition: none;
    }

    &[data-open='true'] {
        .expander {
            overflow: unset;
        }

        .expander-header {
            background-color: var(--colour-caption-background);
        }

        .expander-body {
            transform: unset;
        }

        .chevron {
            transform: rotateX(180deg);
        }
    }

    .expander-header {
        display: block;
        padding: 0 1rem;
        background-color: var(--colour-background-primary);
        color: inherit;
        width: 100%;
        font-weight: normal;
        text-align: left;
        border: 1px solid var(--colour-border);
        position: relative;
        cursor: pointer;
        z-index: 1;
    }

    .expander-body {
        padding: 1rem;
        border: 1px solid var(--colour-border);
        border-top: none;
        position: relative;
        transform: translateY(-100%);

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: 0.5s;
            transition-property: transform;
        }
    }

    .chevron {
        margin-top: 0.75rem;
        float: right;

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: 0.5s;
            transition-property: transform;
        }
    }
}