@use "../../common/colours";

$border: 1px solid;

.content-box {
    border: $border;

    &.blue {
        $border-colour: colours.$utech-blue;

        caption {
            background-color: var(--colour-caption-background-blue);
        }

        &,
        td.content-box-description {
            border-color: $border-colour;
        }
    }

    &.navy-blue {
        $border-colour: colours.$utech-navy-blue;

        caption {
            background-color: var(--colour-caption-background-navy-blue);
        }

        &,
        td.content-box-description {
            border-color: $border-colour;
        }
    }

    &.gold {
        $border-colour: colours.$utech-gold;

        caption {
            background-color: var(--colour-caption-background-gold);
        }

        &,
        td.content-box-description {
            border-color: $border-colour;
        }
    }

    &.green {
        $border-colour: colours.$utech-green;

        caption {
            background-color: var(--colour-caption-background-green);
            border-color: $border-colour;
        }

        &,
        td.content-box-description {
            border-color: $border-colour;
        }
    }

    &.orange {
        $border-colour: colours.$utech-orange;

        caption {
            background-color: var(--colour-caption-background-orange);
        }

        &,
        td.content-box-description {
            border-color: $border-colour;
        }
    }

    caption {
        text-align: left;
        font-weight: bold;
        border: inherit;
        border-bottom: none;
    }

    td.content-box-description {
        border: $border;
    }

    a {
        color: var(--colour-hyperlink-text);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}