.ContainerAbsolute {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    margin: auto;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

@media only screen and (min-width: 500px) {
    .ContainerAbsolute {
        width: 95%;
        margin-bottom: 1em;
    }
}