@use "../../common/colours";

$border: 1px solid var(--site-colour-1);

.ContainerComponent,
.ContainerComponent td {
    border: $border;
    border-top: none;
    border-collapse: collapse;
}

.ContainerComponent {
    width: 100%;

    caption,
    td {
        padding: 0.5rem;
    }

    caption {
        color: var(--site-colour-base);
        text-align: left;
        font-weight: bold;
        border: $border;

        &.colour-bg-green {
            background-color: colours.$green;
            border-color: colours.$green;
        }

        &.colour-bg-green-dark {
            background-color: colours.$green-dark;
            border-color: colours.$green-dark;
        }

        &.colour-bg-blue {
            background-color: colours.$blue;
            border-color: colours.$blue;
        }
    }

    tr:nth-child(even) {
        background-color: var(--site-colour-1);
    }

    td {
        span:hover {
            color: var(--site-colour-text-important);
            text-decoration: underline;
            cursor: pointer;
        }

        a {
            color: var(--site-colour-text-hyperlink);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}