.ContainerComponent {
    margin: 1em 0;
    border: 1px solid var(--site-colour-1);
    overflow: hidden;
    border-radius: 0.5em 0.5em 0 0;
    font-size: 14px;

    >div {
        padding: 0 8px;

        &:hover {
            text-decoration: underline;
            color: var(--focus-text-colour);
            cursor: pointer;
        }

        &:nth-child(odd) {
            background-color: var(--site-dim-colour);
        }
    }

    .title {
        padding: 8px;
        text-decoration: none;
        font-weight: bold;
        color: var(--site-base-colour);

        &.bg-colour-green {
            background-color: #22cdba;
        }

        &.bg-colour-dark-green {
            background-color: #168f54;
        }

        &.bg-colour-blue {
            background-color: #447be2;
        }
    }

    .description {
        border: 1px solid var(--site-colour-1);
        border-left: none;
        border-right: none;
        text-decoration: none;
    }

    .title:hover,
    .description:hover {
        color: var(--site-colour-3);
        text-decoration: none;
        cursor: default;
    }

    .title:hover {
        color: var(--site-base-colour);
    }

    a {
        color: var(--hyperlink-colour);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}