.Container {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    margin: auto;
    margin-top: 1em;
    border: 1px solid black;
}

@media only screen and (min-width: 500px) {
    .Container {
        width: 95%;
    }
}