@use "../../../../common/colours";

.navigation {
    margin-top: 1rem;
    margin-right: auto;
    white-space: nowrap;

    a {
        padding: 1rem;
        display: inline-block;
        color: inherit;
        font-weight: bold;
        text-decoration: none;

        &.active {
            background-color: var(--colour-navy-blue);
            color: colours.$utech-gold;
            pointer-events: none;
        }

        &:hover {
            background-color: var(--colour-background-secondary);
            color: var(--colour-text-primary);
        }
    }
}