.timetable {
    border: 1px solid var(--colour-border);

    caption {
        background-color: var(--colour-caption-background);
        font-weight: bold;
        border: 1px solid var(--colour-border);
        border-bottom: none;
    }

    thead th:not(:empty) {
        position: relative;
    }

    th,
    td:not(:empty) {
        background-color: var(--colour-caption-background);
        color: var(--colour-text-primary);
        border: 1px solid var(--colour-border);
        vertical-align: top;
    }

    td:not(:empty) {
        background-color: var(--colour-caption-background-gold);
        white-space: pre-line;
    }

    tbody {

        th,
        td {
            height: 8.75em;
            box-sizing: border-box;
        }

        th {
            width: 7ch;
            position: sticky;
            left: 0;
        }

        td {
            width: clamp(100px, 100vw, 160px);

            &:empty::before {
                content: attr(data-column);
                display: block;
                margin: auto;
                width: fit-content;
                font-weight: bold;
                opacity: 0.2;
            }
        }
    }
}