.main.inbox-message-page .hyperlink-button {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--colour-button-background);
    color: var(--colour-button-text);
    border: 1px solid var(--colour-button-border);
    text-decoration: none;
    font-weight: bold;

    &:hover {
        border-color: var(--colour-button-border-hover);
    }
}