.root-content-container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: minmax(200px, 15%) auto;
    grid-template-rows: max-content auto max-content;
}

.panel-left {
    height: fit-content;
    position: sticky;
    top: 0;

    >ul {
        padding: 0;
        list-style-type: none;
    }

    a {
        display: block;
        padding: 1em;
        color: var(--site-colour-text-normal);
        text-decoration: none;

        &:hover {
            background-color: var(--site-colour-1);
            color: var(--site-colour-text-important);
        }
    }
}

@media only screen and (max-width:599px) {
    .panel-left {
        display: none;
    }

    .main-container {
        grid-column: span 2;
    }
}

.main-container {
    display: flex;
    gap: 1em;
    padding: 1em;

    >div {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: calc(50% - 0.5em);
    }
}

@media only screen and (max-width:849px) {
    .main-container {
        flex-direction: column;

        >div {
            width: 100%;
        }
    }
}