#root {
    display: unset;
}

.main.display-flex {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    >div {
        flex-grow: 1;
        /* minimum side-by-side width */
        flex-basis: 390px;

        &.display-flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &.position-sticky {
            height: fit-content;
            position: sticky;
            top: 1rem;
        }
    }
}