@use "../../common/colours";

#ImportantDates {
    caption {
        background-color: colours.$green;
        border-color: colours.$green;
    }

    tr {
        background-color: var(--site-colour-base);
    }

    .description {
        border-color: colours.$yellow;
        background-color: colours.$yellow;
        color: red;
        text-align: center;
        font-weight: bold;
    }
}