#ImportantDatesContainer {
    margin: 1em 0;
    border: 1px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
    overflow: hidden;
    border-radius: 0.5em 0.5em 0 0;
    font-size: 14px;
}

#ImportantDatesContainer span {
    display: inherit;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    background-color: #22cdba;
    font-weight: bold;
    color: white;
    padding: 8px;
}

#ImportantDatesContainer table {
    margin: auto;
    width: 100%;
    border: none;
}

#ImportantDatesContainer table,
#ImportantDatesContainer caption,
#ImportantDatesContainer td {
    border: 1px solid black;
    border-collapse: collapse;
}

#ImportantDatesContainer caption {
    border-bottom: none;
    font-weight: bold;
    background-color: #ffff55;
    color: red;
}

#ImportantDatesContainer td{
    padding: 0 8px;
}