@use "../../common/colours";

.tabs-body[data-selected-tab='tab-personal-information'] {
    .section-contact-information .display-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;

        .avatar {
            width: 128px;
            height: 128px;
            border: 1px solid var(--colour-border);
        }
    }

    .section-personal-information table {
        border: 1px solid;
        border-color: var(--colour-border);

        thead {
            background-color: var(--colour-caption-background);
            text-align: left;
            border: inherit;
        }

        tbody th {
            text-align: right;
        }
    }

    input[type='button'] {
        margin: 1rem 0;
        display: block;
    }
}

.tabs-body[data-selected-tab='tab-personalisation'] {
    .display-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem 8rem;
    }

    ul {
        padding: 0;
        list-style: none;

        li {
            margin: 1rem 0;
        }

        input[type='checkbox'] {
            margin-right: 0.5rem;
        }
    }
}

.tabs-body[data-selected-tab='tab-notifications'] {
    input {
        margin-right: 0.5rem;
    }
}

.tabs-body[data-selected-tab='tab-security'] table {
    tbody th {
        text-align: right;
    }

    tr {
        background-color: inherit;
    }
}