@use "../../common/colours";

.panel-left>button {
    padding: 1em;
    width: 100%;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-align: left;
    border: none;

    &:nth-of-type(1) {
        margin-top: 1em;
    }

    &:hover {
        background-color: var(--site-colour-1);
        color: var(--site-colour-text-important);
        cursor: pointer;
    }
}

.main-container.settings {
    margin: auto;
    box-sizing: border-box;

    @media only screen and (min-width:600px) {
        max-width: calc(100vw - 200px - 2em);
    }

    @media only screen and (max-width:599px) {
        max-width: calc(100vw - 2em);
    }

    >.container {
        width: 100%;

        &:not(.selected) {
            display: none;
        }

        table {
            width: 100%;
            border-collapse: collapse;

            tr th,
            tr td {
                padding: 0.5rem;
            }

            tr td:nth-of-type(1) {
                font-weight: bold;
                text-align: right;
            }
        }
    }
}

#PersonalInformation,
#ChangePassword,
#QuestionsNAnswers {
    div:nth-of-type(2) {
        overflow-x: auto;
    }
}

#PersonalInformation {
    table tr {
        &:nth-child(even) {
            background-color: var(--site-colour-1);
        }

        th {
            text-align: left;
            background-color: colours.$blue;
            color: var(--site-colour-base);
        }
    }

    button {
        display: block;
        margin: 1em auto;
        padding: 1em;
        background-color: colours.$blue;
        color: var(--site-colour-base);
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        border: none;

        &:hover {
            background-color: lighten($color: colours.$blue, $amount: 10);
            cursor: pointer;
        }

        &:active {
            background-color: darken($color: colours.$blue, $amount: 10);
        }
    }
}

#Appearance>div {
    &:nth-of-type(2) {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1em;
    }

    .theme-btn {
        display: block;
        padding: 1em;
        border: 1px solid transparent;

        &:hover,
        &.active {
            border-color: var(--border-colour);
            cursor: pointer;
        }

        .theme-name {
            margin-top: 1em;
            text-align: center;
            font-weight: bold;
            border: none;
            pointer-events: none;
        }
    }
}

#theme-box-light,
#theme-box-dark,
#theme-box-system {
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-colour);
    pointer-events: none;
}

#theme-box-light {
    background-color: white;
}

#theme-box-dark {
    background-color: #0a0a0a;
}

#theme-box-system {
    background-image: linear-gradient(to right, white 50%, #0a0a0a 50%);
}