.utech-emblem-and-website-name {
    display: flex;
    gap: 1rem;
    width: 100%;

    &[data-orientation='horizontal'] {
        align-items: center;
        max-height: 200px;

        .utech-emblem {
            width: 30%;
            height: 100%;
            max-height: inherit;
        }

        .website-name {
            font-size: clamp(1rem, 8vw, 2rem);
        }
    }

    &[data-orientation='vertical'] {
        flex-direction: column-reverse;
        max-height: 100vh;

        .utech-emblem {
            max-height: calc(85vh - 5rem);
        }

        .website-name {
            font-size: clamp(1rem, 10vw, 2rem);
            text-align: center;
        }
    }

    .utech-emblem {
        object-fit: scale-down;
    }

    .website-name {
        color: var(--colour-text-primary);
        font-weight: bold;
    }
}