@use "../../../common/colours";

.content-box-students-reports {
    tr {
        background-color: inherit;
    }

    td.display-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    select {
        width: clamp(180px, 100%, 270px);
    }

    input[type='button'] {
        color: var(--colour-text-primary);
    }
}