.scroll-to-top-button {
    background-color: var(--colour-button-primary-background);
    color: var(--colour-button-primary-text);
    border: 1px solid var(--colour-button-primary-border);
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1;

    @media (prefers-reduced-motion: no-preference) {
        transition-duration: 0.5s;
        transition-property: bottom;
    }

    &:hover {
        border-color: var(--colour-button-primary-border-hover);
    }

    &:active {
        background-color: var(--colour-background-primary);
        color: var(--colour-text-primary);
    }
}