.main.select-modules-page {
    &.display-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        >div {
            flex: unset;
            flex-grow: 3;
            flex-basis: 500px;
            max-width: calc(100vw - 2.5rem);

            &:last-child {
                flex: 1 1 400px;
                height: fit-content;
                position: sticky;
                top: 0;

                input[type='button'] {
                    margin-top: 1rem;
                }
            }
        }
    }

    section {
        &:not(:first-child) {
            margin-top: 2rem;
        }

        .expander-body> {
            .module-search-container {
                margin-bottom: 1rem;

                input[type='text'],
                input[type='search'],
                select {
                    max-width: 100%;
                }

                .module-search-filter {
                    margin-top: 1rem;
                }

                .display-flex {
                    display: flex;
                    flex-wrap: wrap;

                    .flex-grow-1 {
                        flex-grow: 1;
                    }

                    .flex-grow-10 {
                        flex-grow: 10;
                    }
                }
            }

            .overflow-x-auto {
                max-height: 400px;
                box-sizing: border-box;

                .selectable-modules-table thead {
                    position: sticky;
                    top: -1px;
                }
            }
        }
    }
}

.modal {
    background-color: var(--colour-background-primary);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .modal-dialog {
        background-color: var(--colour-background-primary);
        max-height: 100vh;
        overflow-y: auto;

        .modal-dialog-header {
            padding: 1rem 0;
            background-color: inherit;
            position: sticky;
            top: 0;
            z-index: 1;

            button {
                font-size: 1.5rem;
                position: absolute;
                top: 0;
                right: 0;
            }

            h2 {
                margin: 0;
            }
        }

        .modal-dialog-body {
            >.display-flex {
                margin: 1rem 0;
                max-width: 370px;
                display: flex;
                flex-wrap: wrap;

                select,
                input {
                    flex-grow: 1;
                    max-width: 100%;
                }
            }
        }
    }
}