@use '../../common/colours';

.footer {
    font-size: 0.9rem;

    .footer-top {
        margin-top: 1.5rem;
        border-top: 5px solid var(--colour-navy-blue);
        box-shadow: 0 -5px 0 0 colours.$utech-gold;

        .viewport {
            padding: 1rem 0;
            width: fit-content;

            &.display-flex {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem 4rem;
            }

            .footer-section {
                &.footer-section-contact {
                    &.display-inline-flex {
                        display: inline-flex;
                        flex-wrap: wrap;
                        gap: 1rem;
                    }

                    .utech-emblem {
                        height: 6rem;
                    }

                    p {
                        margin: 0;
                    }
                }

                &.footer-section-social-media {
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        a {
                            color: inherit;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .footer-section-title {
                    margin-bottom: 0.5rem;
                    display: block;
                    font-weight: bold;
                }
            }
        }
    }

    .footer-bottom {
        padding: 1rem 0;
        border-top: 1px solid var(--colour-border);

        p {
            text-align: center;
        }
    }
}