.FooterComponent {
    border-top: 1px solid var(--site-colour-1);
    width: calc(100% - 2em);
    padding: 1em;
    bottom: 0;
    font-size: 12px;
}

.FooterComponent .flex-container {
    display: flex;
}

@media only screen and (max-width:685px) {
    .FooterComponent .flex-container {
        display: block;
    }
}

.FooterComponent .flex-container>div {
    flex: 1;
    display: inline-block;
}

.FooterComponent .flex-container .institution>div {
    display: inline-block;
}

.FooterComponent .flex-container .institution img {
    max-width: 60px;
    padding: 0;
    margin: 0;
}

.FooterComponent .flex-container .institution address {
    font-style: normal;
}

.FooterComponent>div:nth-of-type(2) {
    text-align: center;
    border-top: 1px solid var(--site-colour-1);
}

.FooterComponent .flex-container span {
    font-weight: bold;
    font-size: 14px;
}

.FooterComponent .flex-container ul {
    list-style-type: none;
    padding: 0;
}

.FooterComponent,
.FooterComponent .flex-container a {
    text-decoration: none;
    color: var(--site-colour-2);
}

.FooterComponent .flex-container a:hover {
    text-decoration: underline;
}

#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
}