@use "../../../../common/colours";

.notification-menu {
    .menu-button {
        color: inherit;
        font-size: 2rem;

        &:hover {
            color: var(--colour-text-primary);
        }

        &::before {
            content: '5';
            display: block;
            padding: 0 0.25rem;
            background-color: colours.$utech-red;
            color: #fff;
            min-width: 1.25ch;
            border-radius: 1rem;
            font-size: 1rem;
            position: absolute;
            right: 0;
            transform: translate(0.5rem, -0.5rem);
        }
    }

    .menu-flyout {
        width: 100vw;
        max-width: 300px;
        max-height: 350px;
        overflow-y: auto;
        box-sizing: border-box;
        top: 3.5rem;
        right: 0;

        @media only screen and (max-width: 420px) {
            margin: auto;
            max-width: calc(100vw - 2.5rem);
            position: fixed;
            top: unset;
            left: 0;
            transform: translateY(0.9rem);
        }

        >div {
            padding: 0.5rem 1rem;

            &:hover {
                background-color: var(--colour-background-secondary);
                color: var(--colour-text-primary);
                cursor: pointer;
            }

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        .name,
        .content {
            display: block;
        }

        .name {
            font-weight: bold;
        }
    }
}