.selected-modules {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid var(--colour-border);

    .selected-module {
        padding: 1rem;
        border: 1px solid var(--colour-border);
        position: relative;

        &:hover button {
            display: block;
        }

        button {
            display: none;
            font-size: x-large;
            aspect-ratio: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
        }

        .selected-module-name {
            font-weight: bold;
        }

        >div:not(.selected-module-name) {
            font-size: 0.75rem;
        }
    }
}