@use "../../common/colours";

.navigation-bar {
    .navigation-bar-top {
        border-bottom: 5px solid var(--colour-navy-blue);
        box-shadow: 0 5px 0 0 colours.$utech-gold;

        .viewport {
            margin-top: 1rem;

            &.display-flex {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            }

            >div.flex-grow {
                flex-grow: 1;

                >div.display-flex {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }

                >p {
                    margin: 0;
                }
            }

            .utech-emblem {
                height: 90px;
            }
        }
    }
}