html {
    color-scheme: var(--colour-scheme);
}

/* Sharpen blurry images on Chrome and Edge browsers */
html[data-browser-brand='Google Chrome'],
html[data-browser-brand='Microsoft Edge'] {
    img {
        image-rendering: -webkit-optimize-contrast;
    }
}

body {
    margin: 0;
    background-color: var(--colour-background-primary);
    color: var(--colour-text-secondary);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1,
h2,
h3 {
    margin: 1rem 0;
    color: var(--colour-text-primary);
}

input,
select,
button {
    background-color: var(--colour-button-background);
    color: var(--colour-button-text);
    border: 1px solid var(--colour-button-border);

    &:hover {
        border-color: var(--colour-button-border-hover);
    }

    &:disabled {
        color: var(--colour-button-text-disabled);
        pointer-events: none;
    }
}

input,
select {
    padding: 0.25rem;
    font-size: inherit;
    font-family: inherit;

    &:disabled {

        &[readonly],
        &[readonly='true'] {
            color: var(--colour-button-text);
        }
    }
}

select {
    padding: 0.188rem 0.25rem;
}

input,
img {
    box-sizing: border-box;
}

input[type='reset'],
input[type='submit'],
input[type='button'],
button {
    padding: 0.25rem 0.5rem;
    font-size: inherit;
    font-family: unset;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: inherit;
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    caption,
    th,
    td {
        padding: 0.5rem 1rem;
    }

    caption,
    th {
        color: var(--colour-text-primary);
    }

    tr:nth-child(even) {
        background-color: var(--colour-background-secondary);
    }
}

address {
    font-style: normal;
}

#root {
    line-height: 1.5;
}

.viewport {
    margin: auto;
    width: 1200px;
    max-width: calc(100vw - 2.5rem);
}

.overflow-x-auto {
    overflow-x: auto;
}

.fake-hyperlink:hover {
    color: var(--colour-text-primary);
    text-decoration: underline;
    cursor: pointer;
}