:root {
    --site-colour-base: white;
    --site-colour-1: #eaeaea;
    --site-colour-2: #e5e5e5;
    --site-colour-3: #e0e0e0;
    --site-colour-text-normal: black;
    --site-colour-text-important: var(--site-colour-text-normal);
    --site-colour-text-hyperlink: blue;
    --border-colour: #c0c0c0;
    --login-notice-colour-text: red;
}

html[data-theme="dark"] {
    --site-colour-base: black;
    --site-colour-1: #0a0a0a;
    --site-colour-2: #0f0f0f;
    --site-colour-3: #151515;
    --site-colour-text-normal: #b6b6b6;
    --site-colour-text-important: white;
    --site-colour-text-hyperlink: #0059ff;
    --border-colour: #555555;
    --login-notice-colour-text: #ff2e2e;
}

:focus {
    outline: 1px solid var(--site-colour-text-important);
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--site-colour-base);
    color: var(--site-colour-text-normal);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 0.9rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input {
    padding: 0.25rem;
    background-color: inherit;
    border: 1px solid var(--site-colour-1);
}

input:not(:disabled) {
    color: inherit;
    border-color: var(--border-colour);

    &:focus {
        color: var(--site-colour-text-important);
    }
}

button,
select,
select option {
    background-color: var(--site-colour-base);
    color: var(--site-colour-text-normal);
}

button {
    font-size: inherit;
}

select {
    padding: 0.25rem;
    border-color: var(--border-colour);
}

button:hover,
select:focus {
    color: var(--site-colour-text-important);
}

#root {
    width: 100vw;
}