// Taken from UTech Emblem
$utech-blue: #adb0d8;
$utech-navy-blue: #0f004e;
$utech-gold:#ffd200;
$utech-green: #439639;
$utech-orange: #f9a351;
$utech-red: #ef3e35;

:root {
    --colour-hyperlink-text: #0000ff;
    --colour-hyperlink-text-hover: var(--colour-hyperlink-text);
    --colour-hyperlink-text-active: var(--colour-hyperlink-text);
}

:root[data-theme='system'],
:root[data-theme='light'] {
    --colour-background-primary: #fff;
    --colour-background-secondary: #eee;
    --colour-text-primary: #000;
    --colour-text-secondary: #000;
    --colour-scheme: light;

    --colour-button-background: #e2e2e2;
    --colour-button-text: var(--colour-text-primary);
    --colour-button-text-disabled: #505050;
    --colour-button-border: #aaa;
    --colour-button-border-hover: var(--colour-text-secondary);

    --colour-button-primary-background: #{$utech-navy-blue};
    --colour-button-primary-text: #fff;
    --colour-button-primary-border: #{lighten($color: $utech-navy-blue, $amount: 40)};
    --colour-button-primary-border-hover: #{$utech-gold};

    --colour-caption-background: #eee;
    --colour-caption-background-blue: #{lighten($color: $utech-blue, $amount: 10%)};
    --colour-caption-background-gold: #{lighten($color: $utech-gold, $amount: 30%)};
    --colour-caption-background-green: #{lighten($color: $utech-green, $amount: 50%)};
    --colour-caption-background-orange: #{lighten($color: $utech-orange, $amount: 30%)};

    --colour-border: #808080;

    --colour-navy-blue:#{$utech-navy-blue};
}

@mixin dark-theme-colours {
    --colour-background-primary: #121212;
    --colour-background-secondary: #1a1a1a;
    --colour-text-primary: #ececec;
    --colour-text-secondary: #bbb;
    --colour-scheme: dark;

    --colour-button-background: #2e2e2e;
    --colour-button-text: var(--colour-text-primary);
    --colour-button-text-disabled: #aaa;
    --colour-button-border: #505050;
    --colour-button-border-hover: var(--colour-text-secondary);

    --colour-button-primary-background: #{$utech-navy-blue};
    --colour-button-primary-text: #fff;
    --colour-button-primary-border: #{lighten($color: $utech-navy-blue, $amount: 40)};
    --colour-button-primary-border-hover: #{lighten($color: $utech-navy-blue, $amount: 60)};

    --colour-caption-background: #272727;
    --colour-caption-background-blue: #{darken($color: $utech-blue, $amount: 70%)};
    --colour-caption-background-gold: #{darken($color: $utech-gold, $amount: 47%)};
    --colour-caption-background-green: #{darken($color: $utech-green, $amount: 37%)};
    --colour-caption-background-orange: #{darken($color: $utech-orange, $amount: 60%)};

    --colour-hyperlink-text: #8499ff;
    --colour-border: #404040;

    --colour-navy-blue: #000;
}

:root[data-theme='dark'] {
    @include dark-theme-colours();
}

@media (prefers-color-scheme: dark) {
    :root[data-theme='system'] {
        @include dark-theme-colours();
    }
}