$border: 1px solid var(--colour-border);

table.inbox {
    border: $border;

    caption,
    thead {
        background-color: var(--colour-caption-background);
    }

    caption {
        font-weight: bold;
        border: inherit;
        border-bottom: none;
    }

    thead th {
        text-align: left;
        border: $border;
    }

    tbody tr {
        &.position-relative {
            position: relative;
        }

        &:hover {
            color: var(--colour-text-primary);
            text-decoration: underline;
            cursor: pointer;
        }

        td a {
            color: inherit;
            text-decoration: none;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
}