.avatar-menu {
    .menu-button {
        aspect-ratio: 1;
        border: 1px solid var(--colour-button-border);
        border-radius: 50%;
        overflow: hidden;
    }

    .menu-flyout {
        right: 0;

        @media only screen and (max-width: 335px) {
            margin: auto;
            max-width: calc(100vw - 2.5rem);
            position: fixed;
            top: unset;
            left: 0;
        }

        a {
            padding: 0.5rem 1rem;
            display: block;
            color: inherit;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                background-color: var(--colour-background-secondary);
                color: var(--colour-text-primary);
            }
        }
    }
}