.theme-button {
    display: block;
    padding: 1rem;
    background-color: inherit;
    border: 1px solid transparent;

    &:hover,
    &[data-active='true'] {
        border-color: var(--colour-border);
    }

    &[data-value='light'] .theme-button-box {
        background-color: #fff;
    }

    &[data-value='dark'] .theme-button-box {
        background-color: #0a0a0a;
    }

    &[data-value='system'] .theme-button-box {
        background-image: linear-gradient(to right, #fff 50%, #0a0a0a 50%);
    }

    .theme-button-box {
        width: 50px;
        height: 50px;
        border: 1px solid var(--colour-border);
        pointer-events: none;
    }

    .theme-button-label {
        margin-top: 1rem;
        text-align: center;
        font-weight: bold;
        border: none;
        pointer-events: none;
    }
}